---
layout: default
---
<div id="tag-list">
  <div class="form__group field">
    <input class="form__field search" name="search"/>
    <label for="search" class="form__label">Search by tags or number of articles</label>
  </div>
    <div class="container list">
        {% for item in site.data.tags %}
        <a href="/tag/{{item.name}}">
          <div class="card" style="--cards:{{item.count}}">
            <div class="child content">
              <h4>{{item.name}}</h4>
              <p>{{item.count}} article(s)</p>
            </div>
            {% for i in (1..item.count) %}
            <div class="child"></div>
            {% endfor %}
          </div>
        </a>
        {% endfor %}
  </div>
</div>
<script>
  var options = {
           valueNames: ['content']
       };
       var postList = new List('tag-list', options);
</script>