{% include header.html %}
  <body>
    <header class="page-header" role="banner">
      <img src="{{page.profileImage}}" class="profileimg" alt="profile" style="width:100px;">
      <br>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if page.isIndex == true %}
        <a href="https://vi-sri.github.io/aboutme" class="btn">About me</a>
      {% else %}
        <a onclick="geturlandredirect()" class="btn">Back</a>
      {% endif %}
    </header>
    <main id="content" class="main-content" role="main">
      {% if page.isIndex == true %}
      <ol class="articles">
        {% for item in site.data.index %}
          <li class="articles__article" style="--animation-order:{{forloop.index}}">
            <a class="articles__link">
              <div class="articles__content articles__content--lhs">
                <h2 class="articles__title">{{item.name}}</h2>
                <div class="articles__footer">
                  <p>No. of articles</p>
                  <time>{{item.articles}}</time>
                </div>
              </div>
              <div class="articles__content articles__content--rhs" aria-hidden="true">
                <h2 class="articles__title">{{item.name}}</h2>
                <div class="articles__footer">
                  <p>No. of articles</p>
                  <time>{{item.articles}}</time>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ol>
      {% endif %}
      {{ content }}
      {% include footer.html %}
    </main>
  </body>