{% include head.html %}
  <body>
    <header class="page-header" role="banner">
      {% if page.headerImage %}
        <img src="{{page.headerImage}}" class="profileimg" alt="profile" style="width:120px;">
      {% endif %}
      <br>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if page.isIndex == true %}
        <a href="/2024/03/27/aboutme" class="btn">About me</a>  
      {% endif %}
      {% if page.isIndex != true %}
        <a href="/" class="btn">Home</a>
        <a href="javascript:history.back(1)" class="btn">Back</a>
      {% endif %}
      <a href="/alltags" class="btn">All tags</a>
      {% if page.isPost == true %}
      <br>
      <br>
      <b>Tags : &nbsp;</b>
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}" style="color: rgb(255, 255, 255);"><code class="highlighter-rouge"><nobr>#{{ tag_name }}&nbsp;|&nbsp;</nobr></code>&nbsp;</a>
        {% endfor %}
      </span>
      {% endif %}
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      {% if page.isPost == true %}
        {% include relatedposts.html %}
      {% endif %}
      {% include footer.html %}
    </main>
  </body>